<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clínica Odontológica</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/styles.css" />
</head>

<header>
  <img src="../imgs/images.jpeg" alt="">
  <h1>CLÍNICA ODONTOLÓGICA GM</h1>
</header>

<body>
    <div id="sitio">

        <div id="fila">
          <div class="caja">
            <h2>Pacientes</h2>
            <img src="../imgs/paciente.png" alt="">
            <a href="/templates/pacientes.html" type="submit">Ver Pacientes</a>
          </div>

          <div class="caja">
            <h2>Odontologos</h2>
            <img src="../imgs/doc.png" alt="">
            <a href="/templates/odontologos.html" type="submit">Ver Odontologos</a>
          </div>

          <div class="caja">
            <h2>Turnos</h2>
            <img src="../imgs/turnos.png" alt="">
            <button type="submit">Ver Turnos</button>
          </div>

        </div>
    </div>

</body>

</html>