<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Turnos</title>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="../styles/styles.css" />
<script type="text/javascript" src="../static/js/turnos.js"></script>
</head>

<header>
<a href="/templates/index.html" class="volverAInicio">
    <img  src="../imgs/images.jpeg" alt="">
</a>
<h1>Turnos - Clínica odontológica GM</h1>
</header>

<body>
    <div id="sitio">
        <hr/>
            <h2>Buscar turno por id</h2>
        <hr/>
        <div class="fila" >
            <div class="form">
                <form id="buscarTurnoForm" action="" method="">
                    <label for="id_turno">ID Turno:</label>
                    <input type="number" id="id_turno" name="nombre" required>
                    <input class="buscar" type="submit" value="Buscar Turno">
                </form>
                <div class="caja" id="buscarporID">
                    
                </div> 
            </div>
            
        </div>
        <hr/>
            <h2>Listado turnos</h2>
        <hr/>
        <div id="fila">

        </div>
        <hr/>
            <h2>Alta / Modificación turnos</h2>
        <hr/>
        <div class="form">
            <form id="add_turno">
                <div class="inputsAlta" style="display: none">
                    <label for="id_turno_form">ID:</label>
                    <input type="number" id="id_turno_form" name="id_turno_form" readonly>
                </div>
                <div class="inputsAlta">
                    <label for="id_paciente_turno">ID Paciente:</label>
                    <input type="text" id="id_paciente_turno" name="id_paciente_turno" required>
                </div>
                <div class="inputsAlta">
                    <label for="id_odontologo_turno">ID Odontologo :</label>
                    <input type="text" id="id_odontologo_turno" name="id_odontologo_turno" required>
                </div>
                <div class="inputsAlta">
                    <label for="fecha_hora_turno">Fecha y Hora Turno:</label>
                    <input type="text" id="fecha_hora_turno" name="fecha_hora_turno" required>
                </div>
                <div>
                    <input class="add" type="submit" value="Crear/Modificar">
                </div>

                <div id="respuesta">
                    
                </div>
            </form>
        </div>
    </div>
</body>

</html>